<!DOCTYPE html>
<html>
  <head>
    <title>ChallengeRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.2.0/build/pure-min.css" integrity="sha384-7UE2/aLxcikvluV1XGghN2k6i+LoAwMjrZb4oVT9gGPPcLd2sjqAtgIinHb11RJz" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="">
    <%= yield %>
  </div>
  </body>
</html>
